<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT6Quy0lq8EzL67g4ZiYqUxZxhMYY-AAU</string>
	<key>GCM_SENDER_ID</key>
	<string>448023559959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fibeapp.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-6c2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-6c2fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448023559959:ios:357e79fbbe7b9831024152</string>
</dict>
</plist>