<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXzm_xclQ99j1taf0XKU2esrU438ylmuo</string>
	<key>GCM_SENDER_ID</key>
	<string>995680206252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fibeapp.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-e8a7e</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-e8a7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995680206252:ios:5697eee9fde6b7ba230e09</string>
</dict>
</plist>